# updating this file on github does not update the file on the server
# the file on the server removes trailing slashes and double or more slashes from the url
# the current implementation of that does not play well with XAMPP

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 https://ngn.000.pe/error/404
ErrorDocument 403 https://ngn.000.pe/error/403

Header set Connection keep-alive
AddType text/cache-manifest .manifest

RewriteCond %{REQUEST_URI} !^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
RewriteCond %{THE_REQUEST} !^[A-Z]{3,9}\ [a-zA-Z0-9\.\+_/\-\?\=\&]+\ HTTP/ [NC]
RewriteRule .? - [F,NS,L]

IndexIgnore * 

Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
