RewriteEngine On

DirectoryIndex home.php

<If "%{HTTP_HOST} != 'localhost'">
ErrorDocument 400 https://ngn.000.pe/error/400
ErrorDocument 401 https://ngn.000.pe/error/401
ErrorDocument 403 https://ngn.000.pe/error/403
ErrorDocument 404 https://ngn.000.pe/error/404
ErrorDocument 503 https://ngn.000.pe/error/503

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule (.*) /$1 [R=302,L]
</If>

<If "%{HTTP_HOST} == 'localhost'">
ErrorDocument 400 https://localhost/newgradnomad.com-html/error/400
ErrorDocument 401 https://localhost/newgradnomad.com-html/error/401
ErrorDocument 403 https://localhost/newgradnomad.com-html/error/403
ErrorDocument 404 https://localhost/newgradnomad.com-html/error/404
ErrorDocument 503 https://localhost/newgradnomad.com-html/error/503
</eIf>

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Header set Connection keep-alive
AddType text/cache-manifest .manifest

RewriteCond %{REQUEST_URI} !^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
RewriteCond %{THE_REQUEST} !^[A-Z]{3,9}\ [a-zA-Z0-9\.\+_/\-\?\=\&]+\ HTTP/ [NC]
RewriteRule .? - [F,NS,L]

IndexIgnore * 

Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# if .php is included in URL, redirect to 404
#RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]
#RewriteRule .* - [L,R=404]