.button-green {
  background-color: #449175 !important;
  border-color: #449175 !important;
}

.orange-Post-Font {
  color: white !important;
}

.orange-Card {
  background-color: #ee7833 !important;
}

.salary-button {
  background-color: #21644ddc !important;
  border-color: #21644ddc !important;
}

.orange-button {
  background-color: #ed6f26 !important;
  border-color: #ed6f26 !important;
}
