<div class="alert alert-warning mb-0 text-center fs-7" role="alert">
  <b>Site is currently under development, all job listings are made up and for testing purposes only!</b>
</div>

<nav class="green-nav navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid"><a id="homeNameNavBar" href="./" class="navbar-brand">newgradnomad.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid pe-0">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="ms-auto navbar-nav">
          <a class="nav-links nav-link" id="PostAJobNavBar" href="./pages/PostAJob">
            <button type="button" class="button btn btn-primary"><strong>Post a Job</strong></button>
          </a>
          <a class="nav-links nav-link" id="homeNavBar" href="./">
            <button type="button" class="button-hide btn btn-primary"><strong>Home</strong></button>
          </a>
          <!-- <div class="button-hide nav-links mt-auto mb-auto show dropdown">
            <button data-bs-toggle="dropdown" type="button" aria-expanded="false" class="dropdown-toggle btn btn-button-hide"><strong>Community</strong></button>
            <div aria-labelledby="dropdown" data-bs-popper="static" class="dropdown-menu">
              <a target="_blank" href="https://discord.gg/khfQcbtHw8" class="nav-links dropdown-item"><button type="button" class="button-hide btn btn-primary"><strong>Discord</strong></button></a>
              <a data-bs-toggle="modal" data-bs-target="#newsletterModal" class="nav-links dropdown-item"><button type="button" class="button-hide btn btn-primary"><strong>Newsletter</strong></button></a>
            </div>
          </div> -->
          <a class="nav-links nav-link" id="aboutNavBar" href="./pages/about">
            <button type="button" class="button-hide btn btn-primary"><strong>About</strong></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  var loc = window.location.pathname;
  var dir = loc.substring(0, loc.lastIndexOf("/"));
  if (dir.includes("pages")) {
    document.getElementById("homeNameNavBar").setAttribute("href", "../");
    document.getElementById("PostAJobNavBar").setAttribute("href", "./PostAJob");
    document.getElementById("homeNavBar").setAttribute("href", "../");
    document.getElementById("aboutNavBar").setAttribute("href", "./about");
  }
</script>

<div class="modal fade" id="newsletterModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title h4">Newsletter Signup</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Signing up for the newsletter will enable you to get notified via email when a new job listing is posted.
        </p>
        <form novalidate="">
          <div class="mb-3"><label for="newsletterEmail" class="form-label">Email address</label>
            <div class="input-group">
              <input id="newsletterEmail" required="" placeholder="name@example.com"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>